Funções mais utilizadas:

-  `c()` para criar vetor
-  `class()` para saber qual classe do objeto
-  `is.na()`, `is.nan()`, `is.infinite()`, `is.null` usado para saber se o valor é `NA`, `NaN`, infinito ou `NULL`

In [1]:
c(1,2,3)

[1] 1 2 3

In [3]:
sum(1,2)

[1] 3

In [4]:
sum(c(2,5))

[1] 7

In [6]:
#Calcular a média de uma coluna
mean(mtcars$mpg)

[1] 20.09062

In [9]:
#Fazer calculos quando tiver valores NA, passar na.rm
mean(c(2,4,NA), na.rm = TRUE)

[1] 3

In [10]:
#Para saber detalhes sobre uma função, passe o nome dela dentro da função help
help(mean)

In [11]:
#É possivel usar uma função com ou sem o nome dos argumentos
seq(from = 4, to = 10, by = 2)

[1]  4  6  8 10

In [12]:
seq(4,10,2)

[1]  4  6  8 10

Funções úteis para trabalhar com data frame:

- `head()` - Mostra as primeiras 6 linhas.
- `tail()` - Mostra as últimas 6 linhas.
- `dim()` - Número de linhas e de colunas.
- `names()` - Os nomes das colunas (variáveis).
- `str()` - Estrutura do data frame. Mostra, entre outras coisas, as classes de cada coluna.
- `cbind()` - Acopla duas tabelas lado a lado.
- `rbind()` - Empilha duas tabelas.

In [13]:
#É possivel criar sua própria função

nome_da_função  <- function(argumento_1, argumento_2){
    #código que a função irá executar
}

In [15]:
#Exemplo de uma função criada

minha_soma  <- function(x,y) {
    soma  <- x + y
    soma #resultado retornado
}

minha_soma(2,2)

[1] 4

In [16]:
resultado  <- minha_soma(4,4)
resultado

[1] 8

In [17]:
minha_nova_soma  <- function(x, y) {
    soma  <- x + y
}

In [18]:
#Não é possivel visualizar o resultado, a não ser que coloque a função dentro de uma variável
minha_nova_soma(2,3)

In [20]:
resultado  <- minha_nova_soma(2,3)
resultado

[1] 5

<b>Exercícios</b>

1. Qual dos códigos abaixo devolverá um erro se for avaliado?

a.  3 * 5 + 10

b.  function  <- 10

c.  mean(1, 10)

d.  (soma <- sum(1, 1))

In [21]:
3*5 + 10

[1] 25

In [22]:
function  <-  10

ERROR: Error in parse(text = x, srcfile = src): <text>:1:11: unexpected assignment
1: function  <-
              ^

In [52]:
mean(1,10)
#Não retorna erro, mas o correto deveria ser
#mean(c(1,10))

[1] 1

In [24]:
(soma  <- sum(1,1))

[1] 2

2. Crie uma função que receba um número e retorne o quadrado deste número.

In [53]:
quadrado  <- function(x) {
    quad  <- x^2
    quad
}

quadrado(5)

[1] 25

3. Crie uma função que receba 2 números e devolva a raiz quadrada da soma desses números.

In [31]:
raiz_quadrada  <- function(x,y) {
    rq  <- sqrt(x+y)
    rq
}
raiz_quadrada(10,15)

[1] 5

4. Crie uma função que receba dois valores (numéricos) e devolva o maior deles.

In [59]:
maior_numero  <- function(x,y){
    maior  <- max(x,y)
    maior
}
maior_numero(5, 2)

#Outro jeito
#retornar_maior <- function(x, y) {
#  vetor <- c(x, y)
#  filtro <- c(x > y, x <= y)
#  vetor[filtro]
#}

[1] 5

5. Use a função `runif()` para criar uma função que retorne um número aleatório inteiro entre 0 e 10 (0 e 10 inclusive). Caso você não conheça a função runif(), rode help(runif) para ler a sua documentação.

In [62]:
aleatorio  <- function(){
    numero  <- runif(1, min = 0, max = 10)
    numero_inteiro  <- round(numero)
    return(numero_inteiro)
}
aleatorio()

[1] 4

6. Rode help(sample) para descobrir o que a função sample() faz. Em seguida

    a. use-a para escrever uma função que devolva uma linha aleatória de um data frame;

In [49]:
#devolve uma linha aleatoria do data frame
help(sample)

In [65]:
linha_aleatoria  <- function(df) {
    num_linhas  <- nrow(df)
    linha_sorteada  <- sample(1:num_linhas, 1)
    df[linha_sorteada,]
}
linha_aleatoria(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Chrysler Imperial 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4

b. generalize a função para retornar um número qualquer de linhas, escolhido pelo usuário.

In [67]:
linha_aleatoria  <- function(df, n) {
    num_linhas  <- nrow(df)
    linha_sorteada  <- sample(1:num_linhas, n)
    df[linha_sorteada,]
}
linha_aleatoria(mtcars, 2)

             mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Merc 230     22.8 4   140.8  95 3.92 3.150 22.9 1  0  4    2
Lotus Europa 30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2