<a href="https://colab.research.google.com/github/anicelysantos/tutorial_r/blob/main/pacotes_carga_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
library(readr)

# Arquivos .csv e .txt

In [17]:
#arquivos separados por vírgula
imdb_csv <- read.csv(file = '/content/sample_data/imdb.csv')
head(imdb_csv)

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

In [16]:
#arquivos separados por ponto e virgula
imdb_csv2 <- read.csv2('/content/sample_data/imdb2.csv')
head(imdb_csv2)

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

In [18]:
#Arquivos txt, o \t é a tabulação
imdb_txt <- read_delim('/content/sample_data/imdb.txt')
head(imdb_txt)

Rows: 3807 Columns: 15

── Column specification ────────────────────────────────────────────────────────
Delimiter: " "
chr (9): titulo, diretor, cor, generos, pais, classificacao, ator_1, ator_2,...
dbl (6): ano, duracao, orcamento, receita, nota_imdb, likes_facebook


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

# Locale

In [19]:
locale()

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

In [20]:
locale(date_names = 'pt')

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   domingo (dom), segunda-feira (seg), terça-feira (ter), quarta-feira
        (qua), quinta-feira (qui), sexta-feira (sex), sábado (sáb)
Months: janeiro (jan), fevereiro (fev), março (mar), abril (abr), maio (mai),
        junho (jun), julho (jul), agosto (ago), setembro (set), outubro
        (out), novembro (nov), dezembro (dez)
AM/PM:  AM/PM

In [21]:
locale(decimal_mark = ',')

<locale>
Numbers:  123.456,78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

In [22]:
frase_com_acentos <- 'você comerá uma maçã amanhã à tarde'
Encoding(frase_com_acentos)

[1] "UTF-8"

In [24]:
Encoding(frase_com_acentos) <- 'latin1'

In [25]:
frase_com_acentos

[1] "vocÃª comerÃ¡ uma maÃ§Ã£ amanhÃ£ Ã  tarde"

In [27]:
outro_encoding <- read_csv('/content/sample_data/imdb.csv', locale = locale(encoding = 'latin1'))
head(outro_encoding)

Rows: 3807 Columns: 15

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): titulo, diretor, cor, generos, pais, classificacao, ator_1, ator_2,...
dbl (6): ano, duracao, orcamento, receita, nota_imdb, likes_facebook


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  titulo                                     ano  diretor           duracao
1 AvatarÂ                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's EndÂ  2007 Gore Verbinski    169
3 The Dark Knight RisesÂ                     2012 Christopher Nolan 164
4 John CarterÂ                               2012 Andrew Stanton    132
5 Spider-Man 3Â                              2007 Sam Raimi         156
6 TangledÂ                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

# Parseando valores

In [28]:
parse_number(c('5','5.0','5,0','R$5.00','5a'))

[1]  5  5 50  5  5

In [29]:
parse_number('5,0', locale = locale(decimal_mark = ','))

[1] 5

In [30]:
#Inglês
parse_date(
  '01/june/2010',
  format = '%d/%B/%Y'
)

[1] "2010-06-01"

In [32]:
#Português
parse_date(
  '01/junho/2021',
  format = '%d/%B/%Y',
  locale = locale(date_names = 'pt')
)

[1] "2021-06-01"

In [33]:
#Pode especificar NAs
parse_number(c('5', '5.0', '5,0', 'R$5.00', '5 a'), na = '5 a')

[1]  5  5 50  5 NA

Outras funções úteis:
* `readr::parse_integer()`, para parsear números inteiros
* `readr::parse_character()`, para parsear strings
* `readr::parse_date()`, `readr::parse_time()`, `readr::parse_datetime()` para parsear datas, horas e data/horas.

# Salvando arquivos de texto

In [35]:
#arquivo .csv
write_csv(x = mtcars, file='/content/sample_data/mtcars.csv')

In [36]:
#Base separada por tabulação
write_delim(x = mtcars, file='/content/sample_data/mtcars.txt', delim='\t')

# Arquivos .rds

In [37]:
#Esses arquivos só podem ser lidos dentro do R
write_rds(mtcars, file='mtcars.rds', compress='gz')

In [39]:
imdb_rds <- read_rds(file='mtcars.rds')
head(imdb_rds)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# Exercicios

1. Qual a diferença entre as funções `read_csv()` e `read_csv2()`? 

A primeira lê arquivos separados por vígula e a segunda separados por ponto e vírgula

2. Leia o arquivo imdb.csv utilizando a função read_delim().

In [44]:
leia <- read_delim('/content/sample_data/imdb.csv', delim = ',')
head(leia)

Rows: 3807 Columns: 15

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): titulo, diretor, cor, generos, pais, classificacao, ator_1, ator_2,...
dbl (6): ano, duracao, orcamento, receita, nota_imdb, likes_facebook


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  titulo                                    ano  diretor           duracao
1 Avatar                                    2009 James Cameron     178
2 Pirates of the Caribbean: At World's End  2007 Gore Verbinski    169
3 The Dark Knight Rises                     2012 Christopher Nolan 164
4 John Carter                               2012 Andrew Stanton    132
5 Spider-Man 3                              2007 Sam Raimi         156
6 Tangled                                   2010 Nathan Greno      100
  cor   generos                                                   pais
1 Color Action|Adventure|Fantasy|Sci-Fi                           USA
2 Color Action|Adventure|Fantasy                                  USA
3 Color Action|Thriller                                           USA
4 Color Action|Adventure|Sci-Fi                                   USA
5 Color Action|Adventure|Romance                                  USA
6 Color Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance USA
  classificacao       orcamento receita   nota_imdb likes_facebook ator_1
1 A partir de 13 anos 237000000 760505847 7.9        33000         CCH Pounder
2 A partir de 13 anos 300000000 309404152 7.1            0         Johnny Depp
3 A partir de 13 anos 250000000 448130642 8.5       164000         Tom Hardy
4 A partir de 13 anos 263700000  73058679 6.6        24000         Daryl Sabara
5 A partir de 13 anos 258000000 336530303 6.2            0         J.K. Simmons
6 Livre               260000000 200807262 7.8        29000         Brad Garrett
  ator_2           ator_3
1 Joel David Moore Wes Studi
2 Orlando Bloom    Jack Davenport
3 Christian Bale   Joseph Gordon-Levitt
4 Samantha Morton  Polly Walker
5 James Franco     Kirsten Dunst
6 Donna Murphy     M.C. Gainey

3. Escreva a base `mtcars` em um arquivo `mtcars.csv` que não contenha o nome das colunas.

In [46]:
write_csv(mtcars,'sc_mtcars.csv', col_names=FALSE)

4. Use a função `write_rds()` para salvar em arquivos:

a) um número

In [47]:
numero <- 5

write_rds(numero,'numero.rds')

b) um vetor de strings

In [50]:
estados <- c('PE', 'CE', 'PB','RN')
write_rds(estados, 'estados.rds')

Uma lista com valores numéricos, textuais e lógicos

In [51]:
lista <- list(numero = 1, texto = c('M', 'F', 'F'), logico = FALSE)
write_rds(lista,'lista.rds')

d) As 3 primeiras colunas da base `mtcars`

In [52]:
write_rds(mtcars[,1:3], 'mtcars_3_colunas.rds')

5. Utilize a função `read_rds()` para importar de volta para o R os arquivos criados no exercício 4.

In [53]:
read_rds('numero.rds')

[1] 5

In [55]:
read_rds('estados.rds')

[1] "PE" "CE" "PB" "RN"

In [56]:
read_rds('lista.rds')

$numero
[1] 1

$texto
[1] "M" "F" "F"

$logico
[1] FALSE

In [59]:
read_rds('mtcars_3_colunas.rds')

                    mpg  cyl disp
Mazda RX4           21.0 6   160.0
Mazda RX4 Wag       21.0 6   160.0
Datsun 710          22.8 4   108.0
Hornet 4 Drive      21.4 6   258.0
Hornet Sportabout   18.7 8   360.0
Valiant             18.1 6   225.0
Duster 360          14.3 8   360.0
Merc 240D           24.4 4   146.7
Merc 230            22.8 4   140.8
Merc 280            19.2 6   167.6
Merc 280C           17.8 6   167.6
Merc 450SE          16.4 8   275.8
Merc 450SL          17.3 8   275.8
Merc 450SLC         15.2 8   275.8
Cadillac Fleetwood  10.4 8   472.0
Lincoln Continental 10.4 8   460.0
Chrysler Imperial   14.7 8   440.0
Fiat 128            32.4 4    78.7
Honda Civic         30.4 4    75.7
Toyota Corolla      33.9 4    71.1
Toyota Corona       21.5 4   120.1
Dodge Challenger    15.5 8   318.0
AMC Javelin         15.2 8   304.0
Camaro Z28          13.3 8   350.0
Pontiac Firebird    19.2 8   400.0
Fiat X1-9           27.3 4    79.0
Porsche 914-2       26.0 4   120.3
Lotus Europa        30.4 4    95.1
Ford Pantera L      15.8 8   351.0
Ferrari Dino        19.7 6   145.0
Maserati Bora       15.0 8   301.0
Volvo 142E          21.4 4   121.0